annotated-types
anyio
certifi
click
h11
httpcore
httpx
idna
iniconfig
markdown-it-py
mdurl
packaging
pluggy
pydantic
pydantic_core
Pygments
pytest
python-dotenv
rich
shellingham
SQLAlchemy
typer
typing-inspection
typing_extensions
